@import './_variables.scss';
@import 'normalize.css';
@import 'bulma';
// @import 'bulma/sass/elements/button.sass';
// @import 'bulma/sass/grid/columns.sass';

:root {
  font-size: 16px;
}
html {
  // background-color: #151618;
  background: linear-gradient(195deg, rgb(20, 20, 20), #25282c); // i like this
  // background: linear-gradient(195deg, rgb(27, 25, 29), #25282c); // but imma try something bluer
  // background-color: #2d253a;
  background-size: cover;
  background-attachment: fixed;
}

html,
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #aeaeae;
}

#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  @extend .button;
  @extend .is-primary;
}
