@import './_variables.scss';
@import 'normalize.css';
@import 'bulma';

:root {
  font-size: 16px;
  background: linear-gradient(
    195deg,
    rgb(20, 20, 20),
    $color-shadow
  ); // good gradient
  background-size: cover;
  background-attachment: fixed;
}

html {
  background: linear-gradient(
    195deg,
    rgb(20, 20, 20),
    $color-shadow
  );
  background-size: cover;
  background-attachment: fixed;
}

html,
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system,
    BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-salt;
}

#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo,
    Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  &:hover,
  &:active {
    color: $color-salt;
  }
  &:visited {
    color: $color-azure;
  }
}
