@import 'bulma/sass/utilities/_all.sass';

$desktop-md-max: 1200px;
$desktop-sm-max: 1024px;
$tablet-max: 768px;
$mobile-lg-max: 480px;
$mobile-sm-max: 320px;

$margin-xs: 0.25rem;
$margin-s: 0.5rem;
$margin-m: 1rem;
$margin-l: 2rem;
$padding-xs: 0.25rem;
$padding-s: 0.5rem;
$padding-m: 1rem;
$padding-l: 2rem;
// $gap, $tablet, $desktop
