@import '../../style/_variables.scss';

.movie-section {
  border: 2px solid red;

  .movie-card {
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    padding: $margin-m;
    margin-bottom: $margin-l;
    .movie-img {
      flex: 1;
      padding-top: $padding-xs;

      img {
        height: 16rem;
      }
    }

    .movie-details {
      h3.title {
        margin-bottom: $margin-s;
        font-size: 1.5rem;
      }

      .description {
        display: block;
        margin-bottom: $margin-s;
        // height: 6rem;
        // max-height: 6rem;
        // overflow: hidden;
        // transition: height 2s, max-height 2s;
      }
      .description.expanded {
        height: fit-content;
        max-height: fit-content;
      }

      padding-left: $padding-m;
      text-align: left;
      flex: 2;
      // margin: $margin-m;
      p {
        // height: 5rem;
      }
    }
  }
}
