@import '../../style/_variables.scss';

.movie-section {
  border: 2px solid red;

  .movie-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .movie-card {
    display: flex;
    flex-direction: row;
    padding: $margin-m;
    margin-bottom: $margin-l;

    .movie-img {
      flex: 1;
      padding-top: $padding-xs;

      img {
        width: auto;
      }
    }

    .movie-details {
      padding-left: $padding-m;
      text-align: left;
      flex: 2;

      h3.title {
        margin-bottom: $margin-s;
        font-size: 1.5rem;
      }

      .description {
        display: block;
        margin-bottom: $margin-s;
        max-height: 4.5rem;
        overflow: hidden;
        border: 2px solid red;
      }

    }
  }
}


@media only screen and (max-width: $desktop-sm-max) {
  .movie-section {
    .movie-cols {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media only screen and (max-width: $tablet-max) {
  .movie-section {
    .movie-cols {
      grid-template-columns: 1fr;
    }

    .movie-card {
      border: 2px solid blue;

      .movie-img {
        flex: 1;
      }

      .movie-details {
        flex: 2;
      }
    }
  }
}


@media only screen and (max-width: $mobile-lg-max) {
  .movie-section {
    padding: $padding-m;
  }
}

@media only screen and (max-width: $mobile-sm-max) {
  .movie-section {
    .movie-card {
      flex-direction: column;
    }
  }
}
